.venv/
__pycache__/
*.pyc
信息系统项目管理师教程-第四版.pdf
22级毕设/附件-刘婉月.docx
.gitignore
22级毕设/王佳维-第一周.zip
.gitignore
22级毕设/王佳维-第一周/王佳维-第一周/附件三-结果/孔乙己-人物关系.csv
22级毕设/王佳维-第一周/王佳维-第一周/附件三-结果/代码截图.docx
.gitignore
22级毕设/王佳维-第一周/王佳维-第一周/附件一-《罗摩衍那》童年篇前15章.txt
22级毕设/王佳维-第一周/王佳维-第一周/附件三-结果/孔乙己-出场次数.csv
22级毕设/王佳维-第一周/王佳维-第一周/工作报告1.docx
22级毕设/王佳维-第一周/王佳维-第一周/附件二-demo1.py
.gitignore
22级毕设/工作报告-第一周.docx
.gitignore
